# Simulation Report: {{.RecordID}}

Version: {{.Version}}

## Summary

* Max Altitude: {{printf "%.1f" .MotionMetrics.MaxAltitude}} meters
* Max Velocity: {{printf "%.1f" .MotionMetrics.MaxVelocity}} m/s
