<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Launchrail</title>
    <link href="https://unpkg.com/@primer/css@^20.2.4/dist/primer.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
</head>
<body class="bg-gray-light">
    <!-- Navigation Bar -->
    <div class="Header">
        <div class="Header-item">
            <a href="/" class="Header-link f4 d-flex flex-items-center">
                <span class="text-bold">Launchrail</span>
            </a>
        </div>
        <div class="Header-item">
            <a href="/" class="Header-link">New</a>
        </div>
        <div class="Header-item">
            <a href="/data" class="Header-link">Records</a>
        </div>
    </div>

    <div class="container-lg p-4">
        <h1 class="h1 text-center color-fg-accent p-4">Simulation Records</h1>
        
        <div class="Box color-shadow-medium mb-4">
            {{ range .Records }}
            <div class="Box-row d-flex flex-column">
                <h3 class="h3 color-fg-accent">{{ .Name }}</h3>
                <p class="color-fg-muted">{{ .Timestamp.Format "2006-01-02 15:04:05" }}</p>
                <div class="d-flex flex-wrap mt-2">
                    <button 
                        class="btn btn-primary mr-2 mb-2"
                        hx-get="/data/{{ .Hash }}/motion"
                        hx-target="#data-view"
                        hx-push-url="true">
                        Motion
                    </button>
                    <button 
                        class="btn btn-danger mr-2 mb-2"
                        hx-get="/data/{{ .Hash }}/events"
                        hx-target="#data-view"
                        hx-push-url="true">
                        Events
                    </button>
                    <button 
                        class="btn btn-outline mr-2 mb-2"
                        hx-get="/data/{{ .Hash }}/dynamics"
                        hx-target="#data-view"
                        hx-push-url="true">
                        Dynamics
                    </button>
                </div>
            </div>
            {{ end }}
        </div>

        <div id="data-view" class="Box color-shadow-medium p-2">
            <div class="blankslate">
                <svg class="octicon blankslate-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="24" height="24">
                    <path d="M2 2.75C2 1.784 2.784 1 3.75 1h8.5c.966 0 1.75.784 1.75 1.75v10.5A1.75 1.75 0 0 1 12.25 15h-8.5A1.75 1.75 0 0 1 2 13.25Zm1.75-.25a.25.25 0 0 0-.25.25v10.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25V2.75a.25.25 0 0 0-.25-.25ZM5 6.25a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 0 1.5h-4.5A.75.75 0 0 1 5 6.25Zm0 4a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 0 1.5h-4.5A.75.75 0 0 1 5 10.25Z"></path>
                </svg>
                <h3 class="blankslate-heading">Select a data view</h3>
                <p>Click one of the buttons above to view simulation data</p>
            </div>
        </div>
    </div>
</body>
</html>
