<div class="Box p-3 color-shadow-medium">
    <div class="Box-header">
        <h2 class="Box-title d-flex flex-items-center">
            {{ .Title }}
        </h2>
    </div>
    <div class="Box-body overflow-auto">
        <table class="table-fixed width-full">
            <thead>
                <tr class="color-bg-subtle">
                    {{ range .Headers }}
                    <th class="p-2">{{ . }}</th>
                    {{ end }}
                </tr>
            </thead>
            <tbody>
                {{ range .Data }}
                <tr class="border-top">
                    {{ range . }}
                    <td class="p-2">{{ . }}</td>
                    {{ end }}
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
