package components

templ Navbar() {
	<div class="Header">
		<div class="Header-item">
			<a href="/" class="Header-link f4 d-flex flex-items-center">
				<span class="text-bold">Launchrail</span>
			</a>
		</div>
		<div class="Header-item">
			<a href="/" class="Header-link">New</a>
		</div>
		<div class="Header-item">
			<a href="/data" class="Header-link">Records</a>
		</div>
		<div class="Header-item">
			<a href="/explore" class="Header-link">Explore</a>
		</div>
	</div>
}
