package components

templ Navbar() {
	<div class="container-xl mt-6 mb-4">
		<div class="Box p-3 color-bg-subtle">
			<div class="d-flex flex-items-center flex-justify-between">
				<div>
				<!-- Heading brand heading --> 
				<a href="/" class="H1 color-fg-default">launchrail</a>
				</div>
				<div>
					<a href="/data" class="Link--primary mr-3">/data</a>
				</div>
			</div>
		</div> 
	</div>
}
